<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.xyz.mpv"
    android:versionCode="40"
    android:versionName="1.17.n">

    <!-- Permissions for reading videos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <application
        android:label="Aniyomi MPV"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <!-- Minimal Player Activity -->
        <activity
            android:name=".MinimalPlayerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- Intent filter to open video files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="video/*"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
            </intent-filter>

            <!-- Optional launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
